<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743415735125-58ohgfo4eppvllmpuqvn997bgmt10gm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743415735125-58ohgfo4eppvllmpuqvn997bgmt10gm5</string>
	<key>API_KEY</key>
	<string>AIzaSyDOGtO03FBLZ4ipOn-XnvvOHmce0zZcjpA</string>
	<key>GCM_SENDER_ID</key>
	<string>743415735125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aisocial.app</string>
	<key>PROJECT_ID</key>
	<string>socialai-a57b1</string>
	<key>STORAGE_BUCKET</key>
	<string>socialai-a57b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743415735125:ios:9162da06a0e77f6b50c5dc</string>
</dict>
</plist>