<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLSchemes</key>
			<array/>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>751049290088764</string>
	<key>FacebookClientToken</key>
	<string>17cdab17119b071811964449c859f931</string>
	<key>FacebookDisplayName</key>
	<string>SocialAI</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram-stories</string>
	</array>
	<key>OPENAI_API_KEY</key>
	<string>$(OPENAI_API_KEY)</string>
</dict>
</plist>
